.slider-widget {
  width: 120px;
  margin-right: 10px;
}
 
.views-widget .form-item:nth-child(1) {
  float: left;
}
 
.views-widget .form-item:nth-child(2) {
  float: right;
}
 
.views-widget .form-item:nth-child(2) label {
  display: none;
}
 
.views-widget .form-item:nth-child(2) .form-text {
  text-align: right;
}
 
.views-widget .form-text {
  width: 40px;
  margin: 0 0 5px 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: transparent;
}
 
.views-widget .slider-widget {
  clear: both;
}